@font-face {
    font-family: "Halton-regular";
    src: url(/assets/Halton\ regular.otf) format("opentype");
}

@font-face {
    font-family: "Halton-bold";
    src: url(/assets/Halton\ bold.otf) format("opentype");
    font-weight: bold;
    font-style: normal;
}