/*imports*/
@import url(fonts.css);

/*main styling*/
header{
    border-bottom: 1px solid var(--text-color);
    padding-bottom: 2.25em;
    margin: 0;
}

nav {
    font-family: 'Halton-bold', sans-serif;
    font-size: 1.25em;
    font-weight: var(--chubby);
    background-color: var(--bg-color);
    text-transform: var(--cap);
    border-bottom: 1px solid var(--text-color);
    padding: .75em;
    display: flex;
    justify-content: space-between;
}

& ul {
    list-style-type: none;
    display: inline-block;
    margin-right: 2.5em;
}

& li {
    display: inline;
}

& a {
    color: var(--text-color);
    text-align: center;
    padding-left: 1.25em;
    padding-right: 1em;
    text-decoration: none;
}

& a:hover {
    color: var(--accent-color);
}

h1 {
    font-family: 'halton-bold', Arial, Helvetica, sans-serif;
    font-weight:var(--fat);
    text-transform: var(--cap);
    text-align: center;
    font-size: 2em;
    padding-top: 1.25em;
    margin: 0;
}

.logo{
    width: 3.75em;
    height: 3.75em;
    float: left;
    margin-left: 1.75em;
    align-items: center;
}