main{
    display: flex;
    padding: 2em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.icon{
    height: 25em;
    width: 25em;
    margin: 3.25em;
    border-radius: 3.25em;
    padding-right: 1em;
}

.main-text{
    font-family: 'halton-regular', Arial, Helvetica, sans-serif;
    padding-top: 3.5em;
    padding-left: 3.5em;
    display: inline-block;
    max-width: 75ch;
}

div{
    display:flex;
    width: 90vw;
    flex-wrap: wrap;
    margin-bottom: 5em;
    height: 8em;
}

.left{
    flex-direction: row-reverse;
    text-align: justify;
}

.right{
    flex-direction: row;
    text-align: right;
}