main{
    display: grid;
    padding: 2em;
    grid-template-area:
    "environment img-right"
    "img-left staff"
    "ownandfin img-right"
    "img-left supply"
    "customer img-right"
    grid-template-columns: 1fr 1fr;
    grid-template-row: repeat(5, 1fr);
}

.icon{
    height: 25em;
    width: 25em;
    margin: 3.25em;
    border-radius: var(--icon-radius);;
    padding-right: 1em;
}

.main-text{
    font-family: 'halton-regular', Arial, Helvetica, sans-serif;
    padding-top: 3.5em;
    padding-left: 3.5em;
    display: inline-block;
    max-width: 75ch;
}

.img-right{
display:inline-block;
float:right;
}

.img-left{
display:inline-block;
float:left;
}

