/*imports*/
@import url(fonts.css);

/*Nav styling*/
nav {
    font-family: 'Halton-bold', sans-serif;
    font-weight: var(--chubby);
    background-color: var(--bg);
    text-transform: var(--cap);
}

nav ul {
    list-style-type: none;
    display: inline-block;
}

nav li {
    display: inline;
}

nav a {
    color: var(--text);
    text-align: center;
    padding: 1em;
    text-decoration: none;
}

nav a:hover {
    color: var(--accent);
    font-size:1.125em;
}