/*Imports*/
@import url(nav.css);

@import url(fonts.css);

/*Custom properties, general styling*/
html {
    --bg: #272932;
    --text: #ecf8f8;
    --primary: #947eb0;
    --second: #519879;
    --accent: #FB8B24;
    --btn-radius: 2.5em;
    --sec-radius: .25em;
    --title: capitalize;
}

body {
    margin: 0;
    font-family: 'halton-regular', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'halton-bold', sans-serif;
    text-transform: var(--title);
    text-align: center;
}